# SecureHer Firebase Configuration Placeholder
VITE_FIREBASE_API_KEY=AIzaSyDRxHv6y7RfjFjDq468wkYT0i8Z24usO-0
VITE_FIREBASE_AUTH_DOMAIN=her-a955f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=her-a955f
VITE_FIREBASE_STORAGE_BUCKET=her-a955f.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=778742880549
VITE_FIREBASE_APP_ID=1:778742880549:web:f9b68fa938b6528d4ae2cc
VITE_FIREBASE_MEASUREMENT_ID=G-WF5E4M7963
